name: starcitizen_doctor
description: Designed for "StarCitizen" players, providing many convenient functions.
publish_to: 'none'

version: 2.15.0+70

environment:
  sdk: ^3.8.0

dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter
  flutter_riverpod: ^3.0.3
  riverpod_annotation: ^3.0.3
  flutter_hooks: ^0.21.3
  hooks_riverpod: ^3.0.3
  json_annotation: ^4.9.0
  go_router: ^17.0.0
  window_manager:
    git:
      url: https://github.com/boyan01/window_manager.git
      path: packages/window_manager
      ref: 6fae92d21b4c80ce1b8f71c1190d7970cf722bd4
  fluent_ui: 4.11.3
  flutter_staggered_grid_view: ^0.7.0
  flutter_acrylic: ^1.1.4
  url_launcher: ^6.3.2
  font_awesome_flutter: ^10.12.0
  cupertino_icons: ^1.0.8
  hive_ce: ^2.15.1
  path_provider: ^2.1.5
  dio: ^5.9.0
  markdown: ^7.3.0
  markdown_widget: ^2.3.2+8
  extended_image: ^10.0.1
  animate_do: ^4.2.0
  device_info_plus: ^12.2.0
  file_picker: ^10.3.7
  file_sizes: ^1.0.6
  desktop_webview_window: ^0.2.3
  flutter_svg: ^2.2.2
  archive: ^4.0.7
  jwt_decode: ^0.3.1
  uuid: ^4.5.2
  flutter_tilt: ^3.3.2
  card_swiper: ^3.0.1
  ffi: ^2.1.4
  flutter_rust_bridge: ^2.11.1
  freezed_annotation: ^3.1.0
  meta: ^1.17.0
  hexcolor: ^3.0.2
  html: ^0.15.6
  fixnum: ^1.1.1
  rust_builder:
    path: rust_builder
  aria2:
    git: https://github.com/xkeyC/dart_aria2_rpc.git
  #    path: ../../xkeyC/dart_aria2_rpc
  intl: ^0.20.2
  synchronized: ^3.4.0
  super_sliver_list: ^0.4.1
  file: ^7.0.1
  re_editor: ^0.8.0
  re_highlight: ^0.0.3
  shelf: ^1.4.2
  qr_flutter: ^4.1.0
  desktop_multi_window: ^0.3.0
  watcher: ^1.1.4
  path: ^1.9.1
  crypto: ^3.0.7
  xml: ^6.6.1

  # gRPC and protobuf
  grpc: ^5.0.0
  protobuf: ^5.1.0
dependency_overrides:
  http: ^1.6.0
  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  msix: ^3.16.12
  build_runner: 2.10.3
  freezed: ^3.2.3
  json_serializable: ^6.11.1
  riverpod_generator: ^3.0.3
  custom_lint: ^0.8.1
  riverpod_lint: ^3.0.3
  ffigen: ^20.0.0
  sct_dev_tools:
    path: ./packages/sct_dev_tools

flutter:

  uses-material-design: true
  assets:
    - assets/
    - assets/binary/
    - assets/countdown/
    - assets/web/input_method/
    - assets/web/input_method/js/
    - assets/web/input_method/style/

  fonts:
    - family: SourceHanSansCN-Regular
      fonts:
        - asset: assets/SourceHanSansCN-Regular.otf

msix_config:
  display_name: SC汉化盒子
  publisher_display_name: xkeyC Studio
  identity_name: 56575xkeyC.MSE
  publisher: CN=B54C897B-C263-4680-B6AB-4913C603DF87
  msix_version: 2.15.0.0
  logo_path: ./assets/app_logo.png
  capabilities: internetClient,allowElevation
  languages: zh-cn
  windows_build_args: --dart-define="MSE=true"
  store: true
flutter_intl:
  enabled: true